@charset "UTF-8";
/* CSS Document */
/*■■■fv■■■*/
.fv {
	background: url("/images/result_fv_bg.jpg") center center no-repeat;
	background-size: cover;
	display: flex;
	padding: 150px 20px 100px;
	justify-content: center;
	position: relative;
	z-index: 2;
}
.fv h2 {
	color: #fff;
	font-size: 2rem;
	text-align: center;
	line-height: 1.5;
	letter-spacing: 0.1rem;
}

/*■■■shop■■■*/
.results_index {
	counter-reset: shop-list;
	padding-top: 100px;
	position: relative;
	z-index: 1;
	
}
.results_index::before {
	content: "";
	background: url("/images/bg_il01.jpg") center center no-repeat;
	background-size: cover;
	display: block;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.shop_detail {
	max-width: 900px;
	width: 100%;
	margin: 0 auto 100px;
}
.shop_detail h3 {
	background-color: #55d0d4;
	color: #fff;
	font-family: ten-mincho-text, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5rem;
	padding: 20px;
	text-align: center;
	position: relative;
	z-index: 1;
}
.shop_detail h3::before {
	counter-increment: shop-list;
	content: counter(shop-list, decimal-leading-zero);
	background-color: #55d0d4;
	color: #fff;
	display: block;
	font-family: ten-mincho-text, serif;
	font-size: 1.5rem;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	text-align: center;
	line-height: 4rem;
	position: absolute;
	top: -2.5rem;
	left: 0;
	right: 0;
	margin: auto;
	z-index: -1;

}
.detail_wrapper {
	background-color: #fff;
	display: flex;
	padding: 30px;
}
.detail_main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60%;
	padding: 10px 20px 0 10px;
	line-height: 1.5;
}
.detail_main > p {
	margin-bottom: 1rem;
}
.detail_img {
	width: 40%;
}
.info {
	display: flex;
	justify-content: space-between;
	font-size: .75rem;
	margin-bottom: 2rem;
}
.chart {
	width: 45%;
	margin-bottom: 1rem;
}
.chart_star {
	color: #55d0d4;
}
.address {
	width: 55%;
}
.address dl {
	display: flex;
	flex-wrap: wrap;
	line-height: 1.75;
}
.address dl dt {
	width: 6em;
	text-align: center;
}
.address dl dd {
	width: calc(100% - 6em);
	align-items: center;
}
.shop_detail input[type=checkbox] {
	display: none; 
}
.checkbox01 {
	background-color: #ccf1f2;
	display: block;
	padding: 10px;
	text-align: center;
	border: 10px solid #ccf1f2;
	background-image: url("/images/unchecked.png");
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}
input:checked + .checkbox01 {
	color: #fff;
	border: 10px solid #fc869a;
	background-color: #fc869a;
	background-image: url("/images/checked.png");
}
input + .checkbox01 span::before{
	display: inline;
	color: #3f302c;
	font-family: ten-mincho-text, serif;
	font-size: 1rem;
	padding-left: 1rem;
	content: "この店舗を予約リストに入れる";
}
input:checked + .checkbox01 span::before{
	display: inline;
	content: "予約リストに追加しました";
	color: #fff;

}
/*■■■footer_form■■■*/
/*■■■footer■■■*/
/*■■■modal■■■*/
.modalWrapper {
	background-color: #f5f5f5;
	text-align: center;
	padding: 40px;
}
.modalWrapper h2 {
	font-weight: normal;
	padding: 10px;
	margin-bottom: 10px;
}
.privacy_txt {
	background-color: #fff;
	padding: 30px;
	overflow-y: scroll;
	transform: translateZ(0);
	width: 100%;
	height: 70vh;
	line-height: 1.5;
	text-align: left;
}



/*morebtn*/
.more {
	background-color: #fff;
	color: #43b7bb;
	line-height: 1.75;
	padding: 30px 20px 20px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
}

.application {
	background: url("/images/bg_pt01.jpg") repeat;
	position: relative;
	z-index: 2;
}
.application h2 {
	color: #3f302c;
	font-size: 2rem;
	font-family: ten-mincho-text, serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	line-height: 1.5;
	letter-spacing: 0.1rem;
	margin: 50px auto 30px;
	position: relative;
}
.application h2::before {
	content: "";
	background: url("/images/icon_ring.png") no-repeat center center;
	background-size: contain;
	display: block;
	width: 50px;
	height: 50px;
	margin: auto;
	position: absolute;
	top: -50px;
	left: 0;
	right: 0;
}
.form-box {
	background-color: #fff;
	max-width: 1200px;
	width: 100%;
	margin: 40px auto;
	padding: 40px 30px;
}
.form-box h3 {
	font-family: ten-mincho-text, serif;
	font-size: 1.5rem;
	color: #d2b993;
	text-align: center;
	margin: 0 auto 30px;
}
.form-box sup {
	font-family: ten-mincho-text, serif;
	font-size: .5em;
	vertical-align: super;
}
.reserve_error {
	background: #eaf2f4;
	color: #55d0d4;
	font-size: 1.5rem;
	width: 100%;
	padding: 20px;
	text-align: center;
}
.reserve_ttl,
.reserve_list {
	display: flex;
	justify-content: space-between;
}
.reserve_ttl li:first-child,
.reserve_list li:first-child {
	width: calc(40% - 10px);
}
.reserve_ttl li,
.reserve_list li {
	font-family: ten-mincho-text, serif;
	padding: 10px;
	width: calc(20% - 10px);
}
.reserve_ttl li {
	color: #d2b993;
	text-align: center;
	padding-bottom: 0;
}
.reserve_list + .reserve_list {
	border-top: 1px dotted #55d0d4;
}
.shop,
.remove {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.form-box select {
	width: 100%;
	border: none;
	border-radius: 0;
	color: #3f302c;
	font-size: 1rem;
	font-family: ten-mincho-text, serif;
	padding: 10px 1rem 10px 10px;
	cursor: pointer;
	text-overflow: ellipsis;
	outline: none;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: button;
	appearance: button;
	position: relative;
	background-color: #eaf2f4;
	z-index: 1;
}
.form-box select span {
	position: absolute;
	background: #ff0000;
	top: 0.8rem;
	right: 0.8rem;
	width: 50px;
	height: 50px;
	padding: 0;
	/*content: "";*/
	display: block;
	border: 6px solid transparent;
	border-top-color: #55d0d4;
	pointer-events: none;
	z-index: 10;
}
.remove p{
	background-color: #ddd;
	font-family: ten-mincho-text, serif;
	color: #fff;
	text-align: center;
	padding: 10px;
	width: 100%;
}
.memberinfo dl,
.enquete dl {
  display:flex;
  flex-wrap: wrap;
  border: 1px solid #eeeeee;
  border-top: none;
	max-width: 900px;
	margin: auto;
	line-height: 1.75;
}
.memberinfo dt,
.enquete dt {
  background: #eeeeee;
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  border-top: 1px solid #fff;
	text-align: center;
}
.memberinfo dt {
  width: 30%;
}
.enquete dt {
  width: 40%;
}
.memberinfo dd,
.enquete dd {
  padding: 20px;
  margin: 0;
  border-left: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee; 
  background: #fff;
  box-sizing: border-box;
}
.memberinfo dd {
  width: 70%;
}
.enquete dd {
  width: 60%;
}
.memberinfo dd .error {
	display: none;
	color: #8B1C1E;
	margin-top: .5rem;
}
.memberinfo select {
	width: auto;
}
.memberinfo input {
	padding: 10px;
	width: 70%;
	
}
.memberinfo .people .select-arrow {
	width: auto;
}
.memberinfo .age {
	width: 3rem;
}
.agree_link {
	color: #43b7bb;
	text-decoration: underline;
	padding: 0 10px;
}
.privacy .checkbox {
	padding: 5px 30px 5px 0;
	line-height: 1.5;
}

.radio01-input{
  display: none;
}
.radio01-input + label{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}
.radio01-input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid rgba(67, 183, 187, 0.50);
  border-radius: 50%;
}
.radio01-input:checked + label{
  color: #43b7bb;
}
.radio01-input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #43b7bb;
  border-radius: 50%;
}
.privacy,
.privacy *{
	text-align: center;
	font-family: ten-mincho-text, serif;
	font-size: 1.25rem;
}

.agree::after {
	width: 8px;
	height: 12px;
	opacity: 1;
	right: 7px;
	left: auto;
	top: 48%;
	transform: rotate(45deg);
}
.agree::before {
	height: 25px;
	width: 25px;
	background: #F8C9CB;
	right: 0;
	left: auto;
	margin-top: -12px;
}
input:checked + .agree::before {
	background: #BB434E;
}
.submit-btn {
	display: block;
	border: none;
	background: #55d0d4;
	color: #fff;
	font-size: 1.5rem;
	font-family: ten-mincho-text, serif;
	text-align: center;
	width: 100%;
	max-width: 900px;
	margin: 50px auto;
	padding: 20px;
	position: relative;
	transition: .5s;
}
.submit-btn:hover {
	opacity: .7;
}
.submit-btn::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: rgba(255,255,255,.5);
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -10px;
}

/*thanks*/

#thanks .fv {
height: 100vh;
margin-top: 0;
display: flex;
	align-items: center;
}
#thanks .fv h2 {
	color: #fff;
	font-size: 2rem;
	font-family: ten-mincho-text, serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	line-height: 1.5;
	letter-spacing: 0.1rem;
}
#thanks footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
}

/*search_error*/
#search_error .fv {
margin-top: 70px;
	padding: 150px 20px 100px;
display: flex;
	align-items: center;
}
#search_error .fv h2 {
	color: #fff;
	font-size: 2rem;
	text-align: center;
	line-height: 1.5;
	letter-spacing: 0.1rem;
}
#search_error .inner1200 {
	background-color: rgba(255,255,255,.40);
}
.retry_form_cont {
	margin-bottom: 60px;
}
.retry_form_txt h3 {
	color: #3f302c;
	font-family: ten-mincho-text, serif;
	text-align: center;
	font-size: 1.5rem;
	margin: 0 auto 30px;
}
.retry_form_txt p {
	color: #235f61;
}
.retry_form_cont form {
	width: 60%;
	margin: auto;
}
.retry_form_txt ul {
	color: #3f302c;
	display: flex;
	justify-content: space-between;
}
.retry_form_txt ul li {
	width: calc(50% - 15px);
}
.retry_form_txt ul .retry_form_map {
	width: 15%;
	max-width: 151px;
}
.retry_form_map {
	border: 1px solid #fff;
	transition: .5s;
}
.retry_form_map:hover {
	opacity: .7;
}
.retry_form_map img {
	border: 1px solid #fff;
	position: relative;
	top: -6px;
	left: -6px;
}
#search_error .modalWrapper {
	background-color: #61c2d8;
}
@media (max-width: 768px) {
	.fv {
		padding: 100px 20px;
	}
	.shop_detail h3 {
		font-size: 1.25rem;
	}
	.detail_wrapper {
		flex-direction: column;
	}
	.detail_main {
		width: 100%;
		order: 2;
		padding: 0;
		margin-top: 20px;
	}
	.detail_img {
		width: 100%;
		order: 1;
	}
	.info {
		flex-direction: column;
		font-size: 1rem;
	}
	.info > div {
		width: 100%;
	}
	input + .checkbox01 span::before {
		padding-left: 2rem;
	}
	.checkbox01 {
		border: 5px solid #ccf1f2;
	}
	input:checked + .checkbox01 {
		border: 5px solid #fc869a;
	}
	.more {
		font-size: 1.25rem;
	}
	.reserve_list {
		flex-direction: column;
		padding: 0 0 30px;
	}
	.reserve_list + .reserve_list {
		padding-top: 30px;
	}
	.reserve_list li:first-child,
	.reserve_list li {
		width: 100%;
	}
	.reserve_list:last-child {
		padding-bottom: 0;
	}
	.reserve_ttl li:first-child,
	.reserve_ttl li {
		width: 33%;
		padding: 0 5px 10px;
	}
	.reserve_ttl li:last-child {
		display: none;
	}
	.memberinfo dl, .enquete dl {
		flex-direction: column;
		border: none;
	}
	.memberinfo dt,
	.enquete dt,
	.memberinfo dd,
	.enquete dd {
		width: 100%;
	}
	.memberinfo dt, .enquete dt {
		border: none;
		padding: 5px;
		text-align: left;
		background: none;
		font-weight: bold;
	}
	.memberinfo dd,
	.enquete dd {
		margin-bottom: 20px;
		padding: 5px;
		border: none;
	}
	.memberinfo input {
		background-color: #eaf2f4;
		width: 100%;
		border: none;
	}
	.memberinfo .age {
		width: 30%;
	}
	.checkbox {
		padding: 5px 5px 5px 30px;
	}
	.modalWrapper {
		width: 80%;
		padding: 20px;
	}
	.privacy_txt {
		padding: 20px;
	}
	#thanks .fv h2 {
		font-size: 1.5rem;
	}
	#search_error .area-tab {
	position: static;
		width: 100%;
}
	#search_error .retry_form_cont form {
		width: 100%;
	}

}

